.border{
  border: 2px solid red
}
.flex{
  display: flex

}
.justify-center{
  justify-content: center;
}
.item-center{
  align-items: center
}
.bg-black{
  background-color: black;
  color: white;
}
.invert{
  filter: invert(1);
}
.bg-gray{
  background-color: rgb(70, 67, 67);
}
.rounded{
  border-radius: 7px;
}
.m-1{
  margin: 5px;
}
p-1{
  padding: 10px;
}


/* Dark Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
  border: 2px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #444 #1e1e1e;
}
